

html {
	background: #eaeaea;
	height: 100%;
	overflow-y: scroll;
}

header {
	max-width: 865px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 10px;
	padding-bottom: 30px;
}

#logo {
	float: left;
	line-height: 40px;
	text-align: center;
	
	font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #444444;
	
	text-decoration: none;
}

#logo:hover {
	color: black;
}

p {
	margin-top: 16px;
	margin-bottom: 16px;
}

nav ul {
	list-style-type: none;
	float: right;
	
	border-radius: 100px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

nav ul li {
	float: left;
	
	font: bold 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #444;
	
	border-style: solid; 
	border-width: 1px;
    border-color: #BABABA #BABABA #BABABA #FFF;
	box-shadow: 0 1px rgba(255,255,255,1) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,1) inset;
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top, #F7F7F7 0%, #EDEDED 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#EDEDED)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* IE10+ */
	background: linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#EDEDED',GradientType=0 ); /* IE6-9 */
}

nav li:hover, nav li.current {
	box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	border-color: #262626 !important;
	background: #4D4D4D; /* Old browsers */
	background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
	background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D4D4D', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}

nav a {
	display: block;
	padding: 10px 15px;
	color: #444;
	text-decoration: none;
	text-shadow: 0 1px #FFF;
}

nav a:hover, nav li.current a {
	color: #FFF;
	text-shadow: 0 1px #000;
}

#menu-icon {
	display: none;
}

.clear {
	clear: both;
}

.content {
	max-width: 865px;
	margin-right: auto;
	margin-left: auto;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
    
	max-width: 100%;
}

h2 {
	text-align: center;
	padding: 20px;
	
	font-size: 25px;
}

h3 {
	padding: 40px 0px 20px 0px;
	
	font-size: 25px;
}

strong {
	font-weight: bold;
}

.location {
	margin-top: 15px;
	overflow: auto;
}

.location #adres {
	float: left;
	margin-top: 60px;
	
	width: 50%;
	text-align: center;
	
	font-size: 16px;
}

.location address {
	font-size: 18px;
	line-height: 160%;
}

.location #googlemaps {
	float: left;
	width: 50%;
}

table {
	border-collapse: separate;
    margin: 0 auto;
	padding-top: 20px;
}
td {
	padding: 5px 15px 5px 5px;
}

/*
* {
	border: solid black 1px;
}
*/
